<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>efitbuddy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx58b91efa78f544a3</string>
			</array>
		</dict>
		<dict>
			<key></key>
			<string>Facebook</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>NSInternalInconsistencyException</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb686760001531169</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>686760001531169</string>
	<key>FacebookDisplayName</key>
	<string>efitbuddy</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cydia</string>
		<string>safepay</string>
		<string>googlechrome</string>
		<string>googlechrome-x-callback</string>
		<string>hasgplus4</string>
		<string>com.google.gppconsent</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>fbauth</string>
		<string>mtmv</string>
		<string>mpsharesdk10</string>
		<string>mpsharesdk11</string>
		<string>youtube</string>
		<string>fb-messenger-platform-20150714</string>
		<string>weibosdk2.5</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>vkauthorize</string>
		<string>fb-messenger</string>
		<string>pinit</string>
		<string>alipay</string>
		<string>storykompassauth</string>
		<string>pinterestsdk.v1</string>
		<string>kakaokompassauth</string>
		<string>alipayshare</string>
		<string>pinit</string>
		<string>line</string>
		<string>instagram</string>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>wechat</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string></string>
	<key>NSInvalidArgumentException</key>
	<string></string>
	<key>NSMotionUsageDescription</key>
	<string>Get the motion of the gyroscope</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>访问照片</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
